
@{
    ViewData["Title"] = "adminPanel";
}
<h2>adminPanel</h2>
<h1>Widoczne tylko dla adminów!</h1>
<br />
<a asp-action="ReportsList">Report</a>
<p><a asp-action="CreateCategory">Add new category</a></p>
